<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asa.demo.sharding.mapper.BtOrderMapper">

    <resultMap id="BaseResultMap" type="com.asa.demo.sharding.domain.BtOrderModel">
            <id property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="createName" column="create_name" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id,order_no,create_name,
        price
    </sql>
</mapper>
